<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }
</style>

<div class="row" style="padding-top: 7%; padding-bottom:15%; background: url(assets/files/wall.jpg) no-repeat center center; background-attachment: fixed; background-size: cover; width:auto; height: auto;">
  <div class="col-sm-4"></div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg grad">
        <form>

          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold text-center">
            {{ 'Add Staff Member' | translate }}
          </h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold text-center">
            {{ 'Update Satff Member' | translate }}
          </h2>

          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ form.message }}
          </div>

          <div *ngIf="form.error && form.message != null" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ form.message }}
          </div>

          <!-- Overview -->
          <div style="padding-top:3%">
            <span class="pt-2"><b>{{ 'FullName' | translate }}</b><span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>
                <input type="text" name="fullName" [(ngModel)]="form.data.fullName" class="form-control" placeholder="{{ 'Enter  fullName' | translate }}">
              </div>
            </div>
            <span class="alertRedColor">{{ form.inputerror.fullName }}</span>
          </div>
           <!-- Purchase Date -->
          <div>
            <span class="pt-2"><b>{{ 'JoiningDate' | translate }}</b><span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-table grey-text"></i></div>
                </div>
                <input type="date" name="joiningDate" [value]="form.data.joiningDate | date:'yyyy-MM-dd'" (input)="form.data.joiningDate = parseDate($event.target.value)" class="form-control form-control-sm" required />
              </div>
            </div>
            <span class="alertRedColor">{{ form.inputerror.joiningDate }}</span>
          </div>


          <!-- Title -->
          <div style="padding-top:3%">
            <span class="pt-2"><b>{{ 'previousEmployer' | translate }}</b><span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>
                <input type="text" name="previousEmployer" [(ngModel)]="form.data.previousEmployer" class="form-control" placeholder="{{ 'Enter previousEmployer' | translate }}">
              </div>
            </div>
            <span class="alertRedColor">{{ form.inputerror.previousEmployer }}</span>
          </div>

         
          <!-- Category -->
          <div>
            <span class="pt-2"><b>{{ 'divison' | translate }}</b><span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-venus grey-text"></i></div>
                </div>
                <select class="form-control" name="divison" id="divison" [(ngModel)]="form.data.divison" style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{ 'Please divison' | translate }}</option>
                  <option value="'It">{{ 'It' | translate }}</option>
                  <option value="sales">{{ 'sales' | translate }}</option>
                  <option value="Tax">{{ 'Tax' | translate }}</option>
                  <option value="Education">{{ 'Education' | translate }}</option>
                  <option value="Marketing">{{ 'Marketing' | translate }}</option>
                </select>
              </div>
              <span class="alertRedColor">{{ form.inputerror.divison }}</span>
            </div>
          </div>

          <!-- Buttons -->
          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button *ngIf="!form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{ 'Save' | translate }}
              </button>
            </div>
            <div class="pt-2">
              <button *ngIf="form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{ 'Update' | translate }}
              </button>
            </div>
            <div class="pl-3 pt-2">
              <button (click)="forward('/staffList')" class="btn btn-md btn-warning">
                {{ 'List' | translate }}
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>